extends layout
block content
  if models
    each count, name in models
      section(id=name)
        header
          h1
            a(href='/inspect/' + name) #{name}&nbsp;
            span.label #{count}&nbsp;
            a(href='/dump/' + name) dump
  if modelName
    section
      header
        h1 #{modelName}&nbsp;
          a(href="/dump/" + modelName) dump
        a(href="/inspect") Models
    div.content
      details.statics
        summary statics
        ul
          each fn, name in model.schema.statics
            li #{modelName}.
              code #{name}()
      details.methods
        summary methods
        ul
          each fn, name in model.schema.methods
            li instance.
              code #{name}()
      details.paths
        summary paths
        table#documents
          thead
            tr.path
              each path, name in model.schema.paths
                th #{name}
            tr.instance
              each path, name in model.schema.paths
                th #{path.instance}
          tbody
            if documents.length < 100
              each document in documents
                tr
                  each path, name in model.schema.paths
                    if name === '_id'
                      td
                        a(href='/inspect/' + modelName + '/' + document[name]) #{document[name]}
                    else
                      td #{document[name]}
