doctype html
html(data-processing-time=requestProcessTime)
  head
    title=title

    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono',rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500',rel='stylesheet')
    link(href='/mdc.css',rel='stylesheet')
    link(href='/hljs.css',rel='stylesheet')

    link(href='/style.css',rel='stylesheet')
  body(class='mdc-typography')
    header(class='mdc-toolbar mdc-toolbar--fixed')
      div(class='mdc-toolbar__row')
        section(class='mdc-toolbar__section mdc-toolbar__section--align-start')
          button(id='mdc-temporary-drawer-toggle',class='demo-menu material-icons mdc-toolbar__icon--menu')='menu'
          span(class='mdc-toolbar__title')
            a(href='/')=siteName

          //- div(class='mdc-menu-anchor')
            button(class='mdc-button mdc-button--raised mdc-button--primary site-menu-toggle')='Menu'
            div(class='mdc-simple-menu',tabindex='-1',id='site-menu')
              ul(class='mdc-simple-menu__items mdc-list',role='menu',aria-hidden='true')
                li(class='mdc-list-item',role='menuitem',tabindex='0')='Back'
                //- li(class='mdc-list-divider' role='separator')

        section(class='mdc-toolbar__section mdc-toolbar__section--align-end',role='toolbar')
          ul(class='x-toolbar__user-links')
            if user
              li
                a(href='/account',aria-label='Account',alt='Your Account')=user.username
              li
                a(href='/logout',aria-label='Logout',alt='Logout')='Logout'
            else
              li
                a(href='/login',aria-label='Login',alt='Login')='Login'

    include includes/drawer.pug

    div(id='main-wrapper',class='mdc-toolbar-fixed-adjust')
      main(role='main')
        section
          if pageTitle
            header
              h1(class='mdc-typography--headline')=pageTitle
              if pageSubTitle
                h2(class='mdc-typography--subheading2')=pageSubTitle
        .
          !{body}

      //- if menu
        include includes/menu.pug
        aside(id='site-navigation')
          nav
            ul
              for item, path in menu()
                +renderMenuItem(item, path)

    include includes/dialogs.pug

    include includes/messages.pug

    script(src='/mdc.js')
    script(src='/hljs.js')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts.js')

    include includes/cookie-consent.pug